@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit&family=Poppins&family=Roboto&family=Teko&family=Young+Serif&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: hsl(0, 0%, 100%);
    /* background-color:  */
    color: hsl(30, 10%, 34%);
    margin: auto;
    font-weight: 500;
    font-family: 'Young Serif', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header img {
    width: 100%;
    height: 50%;
    object-fit:cover;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;
    /* background-color: hsl(30, 18%, 87%); */
}

h1 {
    margin: 20px 0;
    font-size: 30px;
    color: hsl(24, 5%, 18%);
    font-weight: 700;
}

h2 {
    font-size: 25px;
    color: hsl(14, 45%, 36%);
    font-weight: 700;
}



.header-page p{
    font-size: 16px;
    margin: 20px 0;
    text-align: justify;
}

.main-page ul.prepare, .ingredient {
    /* list-style-type:circle; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: auto;   
}

b {
    font-weight: 700;
    color: hsl(30, 10%, 34%);
    font-size: 20px;
    padding-left: 15px;
}

.main-page li {
    padding-bottom: 10px;
    font-size: 16px;
}

.preparation {
    background-color: hsl(330, 100%, 98%);
    border-radius: 15px;
    padding: 20px;
}

.preparation h2 {
    font-size: 20px;
    margin: 20px 0;
    color: hsl(332, 51%, 32%);
    font-weight: 700;
}

.ingredients {
    margin: 20px 0;  

}

.ingredients span {
    padding-right: 15px;
}

hr {
    margin: 20px auto;
}

.instructions {
    margin: 20px 0;
    font-size: 20px;
}

.instructions ol {
    list-style-type: decimal;
    padding-left: 20px;
    padding-top: 20px;
}

.nutrition {
    margin: 20px 0;
    font-size: 20px;
}
.nutrition p {
    padding: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    padding-bottom: 15px;
    text-align: left;
}

table tr th,
table tr td {
    border-bottom: 1px solid hsl(30, 10%, 34%);
    padding: 20px;
    font-size: 16px;    
}

table tr th {
    background-color: hsl(0, 0%, 100%);
}

@media screen and (min-width: 768px) {
 .header img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin:30px auto 10px auto;
    height: 50%;
    border-radius: 20px;
 }
}
